{% extends 'Welcome.twig' %}

{% block content %}

    <div class="containerCheckout space_Container" xmlns:data-signature="http://www.w3.org/1999/xhtml"
         xmlns:data-tax-in-cents="http://www.w3.org/1999/xhtml" xmlns:data-customer-data="http://www.w3.org/1999/xhtml"
         xmlns:data-shipping-address="http://www.w3.org/1999/xhtml">


        <div>
            <div class="campo_titulo">
                <div class="title_1">
                    Datos de destino
                </div>
            </div>

            <div class="container-checkout">


                {% for u in user %}

                    {% if u.documents is empty %}
                        {% set alert = 1 %}
                    {% else %}

                        {% if da == 32124782234 %}
                            {% set alert = 1 %}

                        {% else %}
                            {% set alert = 0 %}

                        {% endif %}

                    {% endif %}


                    {% if alert == 1 %}


                        <form class="row g-2" method="post" action="#">


                            <div class="col-md-6">
                                <label for="validationServer02" class="form-label">Nombre</label>
                                <input type="text" name="NombreClient" class="form-control is-valid"
                                       id="validationServer02"
                                       placeholder="Nombre de quien recibe"
                                       required>
                                <div class="valid-feedback">
                                    Correcto
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="validationServer02" class="form-label">Número de identificación</label>
                                <input type="number" name="Identification" class="form-control is-valid"
                                       id="validationServer02"
                                       placeholder="C.C."
                                       required>
                                <div class="valid-feedback">
                                    Correcto
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="validationServer02" class="form-label">Número de teléfono</label>
                                <input type="number" name="Phone" class="form-control is-valid" id="validationServer02"
                                       placeholder="Teléfono" required>
                                <div class="valid-feedback">
                                    Correcto
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="validationServer02" class="form-label">Dirección de la entrega</label>
                                <input type="text" name="Direction" class="form-control is-valid"
                                       id="validationServer02"
                                       placeholder="Dirección" required>
                                <div class="valid-feedback">
                                    Correcto
                                </div>
                            </div>

                            <div class="col-md-6">

                                <label for="selectDepart" class="form-label">Departamento</label>
                                <select name="Departments" id="selectDepart" class="form-control is-valid" required>

                                </select>


                                <div class="valid-feedback">
                                    Correcto
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="selectCity" class="form-label">Ciudad</label>

                                <select name="Cities" id="selectCity" class="form-control is-valid" required>

                                </select>

                                <div class="valid-feedback">
                                    Correcto
                                </div>
                            </div>


                            <div class="col-12">

                                {% if alert == 1 %}
                                    <a href="/Checkout" class="btn btn-primary">Volver</a>
                                {% endif %}
                                <button class="btn btn-primary" type="submit" name="sendContact">Guardar</button>
                            </div>
                        </form>



                    {% else %}


                        <div class="row g-2">
                            <div class="col-md-6">
                                <label for="validationServer02" class="form-label">Nombre</label>
                                <div class="form-control is-valid"> {{ u.Cliente }}</div>
                            </div>

                            <div class="col-md-6">
                                <label for="validationServer02" class="form-label">Número de identificación</label>
                                <div class="form-control is-valid"> {{ u.documents }}</div>
                            </div>

                            <div class="col-md-6">
                                <label for="validationServer02" class="form-label">Número de teléfono</label>
                                <div class="form-control is-valid"> {{ u.phoneDelivery }}</div>
                            </div>

                            <div class="col-md-6">
                                <label for="validationServer02" class="form-label">Dirección de la entrega</label>
                                <div class="form-control is-valid"> {{ u.Direction }}</div>
                            </div>

                            <div class="col-md-6">
                                <label for="validationServer02" class="form-label">Departamento (Code Dane)</label>
                                <div class="form-control is-valid"> {{ u.StateId }}</div>
                            </div>

                            <div class="col-md-6">
                                <label for="validationServer02" class="form-label">Ciudad (Code Dane)</label>
                                <div class="form-control is-valid"> {{ u.CountyId }}</div>
                            </div>
                        </div>

                        <div class="col-12">
                            <br>
                            {% if alert == 0 %}
                                <a href="/Checkout?editar=32124782234" class="btn btn-primary">Editar</a>
                            {% endif %}
                        </div>

                    {% endif %}


                {% endfor %}


            </div>
        </div>


        <div>
            {% for p in detalle %}

                <div class="row border-primary ">
                    <div class="col-10">
                        <div class="text-center">
                            {{ p.Categoria }}
                        </div>
                    </div>
                    <div class="col-4">

                        {% set img = p.Imagenes|split('.') %}


                        <img src="https://recursos.mps.com.co/images/Productos/{{ img|first }}.{{ img|last }}"
                             class="d-block w-100" alt="..." onerror="this.style.display = 'none'">

                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.Name }}</h5>
                            <p>{{ p.Quantity }} {{ p.precio }}</p>
                        </div>
                    </div>
                </div>



            {% endfor %}



                <button name="enviar" type="submit" id="checkoutSend" class="btn btn-primary">Pagar</button>


        </div>


    </div>

    {% set Wompi = detalle %}

    <script>
        Wompi = {{ Wompi|json_encode|raw }};
    </script>

    <script type="text/javascript" src="https://checkout.wompi.co/widget.js"></script>

    <script src="{{ getJs('checkout.js') }}"></script>


{% endblock %}
